@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


$backgroundColour: #F6F6F6;

$contentColour: #747A8E;
$contentFontSize: 16px;
$contentLineHeight: 24px;
$contentHeight:120px;


$primaryFont:"Outfit", "sans-serif", "cursive", "fantasy", "monospace";

$headerColour: #141414;
$headerFontSize:48px;
$headerLineHeight:60.48px;
$headerFontWeight: bold;
$headerHeight:80px;


$buttonborder: 2px solid black;
$buttonLineHeight:20.16px;
$buttonPadding: 10px;






