@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
.card {
  margin: 10px;
  background-color: #F6F6F6;
  width: 505px;
  height: 661px;
}

.card__img {
  width: 100%;
}

body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  border: 2px solid black;
}

.card_text {
  margin: 20px;
}

.card_text_header {
  color: #141414;
  font-family: "Outfit", "sans-serif", "cursive", "fantasy", "monospace";
  font-size: 48px;
  line-height: 60.48px;
  font-weight: bold;
  height: 80px;
}

.card_text_content {
  color: #747A8E;
  font-family: "Outfit", "sans-serif", "cursive", "fantasy", "monospace";
  font-size: 16px;
  line-height: 24px;
  height: 120px;
}

.card_text_button {
  border: 2px solid black;
  font-family: "Outfit", "sans-serif", "cursive", "fantasy", "monospace";
  font-size: 16px;
  line-height: 20.16px;
  padding: 10px;
}

#booknow {
  background-color: black;
  color: white;
}

#moreinfo {
  background-color: white;
  color: black;
}

.card_text_extrabutton {
  width: fit-content;
  padding: 10px;
  position: absolute;
  left: 250px;
}

.card_text_extrabutton-1 {
  padding: 10px;
  border-radius: 40px;
  width: 80px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Outfit", "sans-serif", "cursive", "fantasy", "monospace";
}

#sales {
  background: #00FFB2;
  border-radius: 34.098px;
}

#adventure,
#hiking {
  color: #464545;
  background-color: #c4c2c2;
  border-color: #c4c2c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}